@import "bootstrap";

$lightGray: #999;
$white: #fff;
$middleGray: #555;
$darkGray: #222;
$greyMediumLight: #bababa;

$darkPurple: #1B1B24;
$lightPurple: #464368;
$bluePurpletText: #7C76B8;
$greyPurpleText: #7A7A8A;
$blueLinks: #00AFED;
$darkPurpleBorder: #2F2F3E;
$logoPurple: #B1AEC8;



@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;

}
/* universal */

html {
	overflow-y: scroll;

}

body{
	padding-top: 60px;
	background-color: $darkPurple;

	a  {
		color: $blueLinks;
		&:hover{
			color: white;
		}
	}
	.hero-unit {
		background-color: $lightPurple;
		h1 {
			color: white;
		}
		h2 {
			color: $bluePurpletText;
		}
	}
}

section {
	overflow: auto;
}

textarea {
	resize:vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom:10px;
	}
}

 /* css for nice typography */

 h1, h2, h3, h4, h5, h6 {
 	line-height: 1;
 	color: $bluePurpletText;
 }

 h1 {
 	font-size: 3em;
 	letter-spacing: -2px;
 	margin-bottom: 30px;
 	text-align: center;
 }

 h2 {
 	font-size: 1.2em;
 	letter-spacing: -1px;
 	margin-bottom: 30px;
 	text-align: center;
 	font-weight: normal;
 	color: white;
 }

 p {
 	font-size: 1.1em;
 	line-height: 1.7em;
 }

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $logoPurple;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: $white;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding: 10px 0;
	border-top: 1px solid $darkPurpleBorder;
	color: $greyPurpleText;

	small{
		float:left;
	}
	ul{
		float:right;
		list-style: none;
		li{
			float:left;
			margin-left: 10px;
		}
	}
	a{
		color: $greyPurpleText;
		&:hover{
			color: white;
		}

	}
	
}

/* sidebar */

aside {
	section{
		padding: 10px 0;
		border-top: 1px solid $bluePurpletText;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatard {
	float: left;
	margin-right: 10px;

}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

label {
	color: $bluePurpletText;
}

input {
	height: auto !important;
}
.btn-right {
	margin-top: 10px;
}

/* navigation */

.navbar-inverse {
	.nav > li > a {
		color: $greyPurpleText;
	}	
}

.navbar-fixed-top .container {
	background-color: transparent;
}


