<footer class="footer">
	<small>
		<%= link_to "© Copyright 2014 | Spuds Mackenzie Tutorial | Rock Hawkins Inc", 'http://mackenziehawkins.com/' %> 
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Get Help", help_path %></li>
			<li><a href="http://news.railstutorial.org">News</a></li>
		</ul>
	</nav>
</footer> 